.email_but {
    background-color: white;
}

.a_email {
    background-color: white;
}

.ig_but {
    background-color: aqua;
    padding-left: 2030;
}

.a_ig {
    background-color: aqua;
    color: rgb(212, 22, 22);
}

.buttons {
    padding-left: 2030;
    justify-content: space-between;
}
