.nav-items{
    list-style: none;
    display: flex; 
    
}

.Navigation {
    display : flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 8px #888888;
    height: 300;
}

.nav-items > li{
    padding: 10px;
}

.logo {
    width: 80px;
}

.footer {
    background-color: gray;
    margin-top: 540;
    font-size: 20px;
    height: 50;
    color: white;
}