* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center;
    background-color: black;
    height: 125;
}

.title {
    margin-left: 10px;
    color: rgb(17, 216, 235);
}

.react_course {
    color: white;
    margin-left: 680;
    font-size: 23;
}

.body_div{
    background-color: rgb(46, 41, 41);
    height: 630;
}

.header {
    color: rgba(255, 255, 255, 0.761);
    margin-left: 20;
    font-size: 50;
}

.list {
    font-size: 25;
    color: rgba(255, 255, 255, 0.761);
    margin-left: 30;
    list-style: none;
}

ul li::before{
    content: "\2022";
    color: rgb(17, 216, 235);
}

ul >li {
    margin-top: 15;
}